name: Create Docker images

on:
  push:
    tags:
      - '*.*.*'
      - '*.*.*.*'

jobs:
  build:
    # if: github.repository_owner == 'mga-sphinx'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - name: sphinx
            context: base
          - name: sphinx-ci
            context: ci
          - name: sphinx-html
            context: html
          - name: sphinx-latexpdf
            context: latexpdf
    steps:
      - uses: actions/checkout@v5
      - uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392  # v3.6.0
      - uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435  # v3.11.1
      - name: Log in to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef  # v3.6.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef  # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893  # v5.9.0
        with:
          images: |
            mgasphinx/${{ matrix.name }}
            ghcr.io/mga-sphinx/${{ matrix.name }}
          tags: type=pep440,pattern={{version}}
      - name: Build and push Docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83  # v6.18.0
        with:
          context: ${{ matrix.context }}
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
